input#file-open-dialog(type='file', style='display:none;', accept=".c")
.container(style="width: 960px;")
  .editor-view
    pre#editor(style="border: solid 1px #ddd")

+template('file-list-template')
  li.file-tab.disabled-on-running
    a(href='#',id='${BaseName}') ${Name}
    //a(href='#', id='close${BaseName}')
      span.glyphicon.glyphicon-remove
+js('/vendor/ace/src/ace.js')
+js('/vendor/FileSaver.js')
//+js('/js/FileManager.js')
+js('/js/ua.js')
+js('/js/index.js')
//+js('/js/editorView.js')
+js('/vendor/jstree/dist/jstree.min.js')
style.
  body {
  }
