extends layout

block header
  +css('./css/index.css')
  include editor_css

block content
  include topbar
  .space(style="padding: 20px")
  .demo-editor
    include editor
  - if(has_content) {
  #file-content(style="display: none;")= example
  #file-reset(style="display: none;")= subject_reset
  #file-timestamp(style="display: none;")= timestamp
  - }
  include sidebar_subject
  .mastfoot
    .inner
