.navbar-base
  .navbar-header(role="navigation")
    .container
      ul
        li.navbar-item(id="navbar-overview")
          .navbar-content Overview
        li.navbar-item(id="navbar-documents")
          .navbar-content Documents
        li.navbar-item(id="navbar-playground")
          .navbar-content Playground
