extends layout

block header
  +css('./css/index.css')
  include editor_css

block loadFiles
  +js('./vendor/ace/src/ace.js')
  +js('./js/top.js')

block content
  include navbar
  .container
    .row(id="try")
      h2 Try PEG4d
      .col-md-6
        .row
          label Peg Source
          pre#pegEditor(rows="5", name="example", style="width: 100%; height: 200px; border: solid 1px #ddd;")
        .row
          label Input Source
          pre#inputEditor(rows="5", name="example", style="width: 100%; height: 200px; border: solid 1px #ddd")
      .col-md-6
        label Output
        textarea(rows="5", name="example", style="width: 100%; height: 435px; border: solid 1px #ddd; font-size: 14px;")
