extends layout

block header
  +css('/css/index.css')
  +css('/css/app.css')
  include editor_css

block loadFiles
  +js('/vendor/ace/src/ace.js')
  +js('/vendor/vmjs/lib/polymergestures.min.js')
  +js('/vendor/vmjs/lib/pointerevents.min.js')
  +js('/vendor/vmjs/src/vismodeljs/Utils.js')
  +js('/vendor/vmjs/src/vismodeljs/Viewport.js')
  +js('/vendor/vmjs/src/vismodeljs/LayoutEngine.js')
  +js('/vendor/vmjs/src/vismodeljs/NodeView.js')
  +js('/vendor/vmjs/src/vismodeljs/VisualModelPanel.js')
  +js('/vendor/vmjs/src/vismodeljs/Shape.js')
  +js('/vendor/vmjs/app.js')
  +js('/js/top.js')

block content
  .container(style="top: -91px; height: 100%")
    .row(id="topbar")
      .title NEZ
      p.title-border.title-border-left
      p.title-border.title-border-right
      .navbar-header(role="navigation")
        span.navbar-item-filter
        span.navbar-item(id="navbar-overview")
          span.navbar-content Overview
        span.navbar-item(id="navbar-documents")
          span.navbar-content Documents
        span.navbar-item(id="navbar-playground")
          span.navbar-content-active Playground
      p.title-border.title-border-left
      p.title-border.title-border-right
    .row.row-content(id="overview")
      h2 Overview
      p.content
        | NEZ is ......
    .row.row-content(id="documents")
      h2 Documents
    .row.row-content(id="playground", style="left:0px;")
      .header
        h2(style="display:inline-block") Try NEZ
        span.btn.btn-primary(type="button", id="run", style="margin-left:20px;display:none;") Run
        span.btn.btn-info.visualize-btn(style="display:none;") Visualize
      .input-area
        .collapse-block(id="peg4d")
          .ground-label(id="peg4d")
            span.text(id="peg4d") PEG4d Grammar&nbsp&nbsp&nbsp&nbsp
              .dropdown(style="display: inline")
                span File:&nbsp&nbsp
                button.btn.btn-default.dropdown-toggle.txt(type="button", data-toggle="dropdown", id="dropdownInput")
                  |None&nbsp&nbsp
                  span.caret
                ul.dropdown-menu(role="menu", aria-labelledby="dropdownInput")
                  li(role="presentation")
                    .fileUploader(style="display: inline")
                      input.uploader(type="file", id="p4d")
                      .importp4d(style="position: relative; padding: 4px 12px;", id="p4d")
                        span.glyphicon.glyphicon-folder-open
                        span.text &nbsp&nbsp&nbspImport
                  li(role="presentation")
                    a(role="menuitem", tabindex="-1", value="c99") C
                  li(role="presentation")
                    a(role="menuitem", tabindex="-1", value="JavaScript") JavaScript
                  li(role="presentation")
                    a(role="menuitem", tabindex="-1", value="json") JSON
          pre#pegEditor(name="example", style="height: 88%")
      .input-area
        .collapse-block(id="input")
          .ground-label(id="input")
            span.text(id="input") Input Source&nbsp&nbsp&nbsp&nbsp
              span File:&nbsp&nbsp
              .fileUploader(style="display: inline")
                input.uploader(type="file", id="source")
                button.btn.btn-default(style="position: relative; padding: 4px 12px;", id="source")
                  span.glyphicon.glyphicon-folder-open
                  span.text &nbsp&nbsp&nbspImport
                span.txt(style="padding-left: 5px; font-size: 14px; padding-top: 2px; vertical-align: middle") None
          pre#inputEditor(name="example", style="height: 88%")
      include visual
